.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 1vh;
}

.collapsible.roadworks {
  background: rgb(72, 72, 72);
  background: linear-gradient(
    138deg,
    rgba(72, 72, 72, 1) 0%,
    rgba(72, 72, 72, 1) 28%,
    rgba(72, 72, 72, 1) 51%,
    rgba(72, 72, 72, 1) 61%,
    rgba(72, 72, 72, 1) 67%,
    rgba(162, 162, 162, 1) 80%,
    rgba(72, 72, 72, 1) 91%,
    rgba(72, 72, 72, 1) 100%
  );
}

.collapsible.radars {
  background: rgb(99, 99, 235);
  background: linear-gradient(
    138deg,
    rgba(99, 99, 235, 1) 0%,
    rgba(99, 99, 235, 1) 28%,
    rgba(99, 99, 235, 1) 51%,
    rgba(99, 99, 235, 1) 61%,
    rgba(99, 99, 235, 1) 67%,
    rgba(166, 166, 231, 1) 80%,
    rgba(99, 99, 235, 1) 91%,
    rgba(99, 99, 235, 1) 100%
  );
}

.collapsible.jams {
  background: rgb(233, 12, 12);
  background: linear-gradient(
    138deg,
    rgba(233, 12, 12, 1) 0%,
    rgba(230, 6, 6, 1) 28%,
    rgba(245, 67, 36, 1) 51%,
    rgba(242, 61, 33, 1) 61%,
    rgba(235, 44, 44, 1) 67%,
    rgba(249, 114, 114, 1) 80%,
    rgba(222, 16, 16, 1) 91%,
    rgba(232, 12, 12, 1) 100%
  );
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
